.timeline-wrapper {
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
}

.circle.active {
  border-color: #007bff;
  color: #007bff;
  background-color: #e7f1ff;
}

.stage-label.active {
  color: #007bff;
}
